/* Nav Bar */
* {
    margin: 0;
    padding: 0;
}
.contenedor {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.cp-horizontal {
    width: 200px;
    height: auto; 
}


/* imagen de portada */

.portada-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
}


/*body*/
/*sobre mi*/

#sobre-mi {
    background-color:#B891B5;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
    border: 0px;
    margin: 0px;

}

#sobre-mi .col-sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 100%;
    margin:20px;

}

.foto-perfil {
    flex-grow: 1;
    width: 50%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding: 10px;

}

.col-sobremi h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self: left;

}

.col-sobremi p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.col-sobremi a {
    align-self: self-start;

}
.boton-conoceme {
    flex-grow: 1;
    text-decoration: none;
    background-color: white;
    color: #B891B5;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.boton-conoceme:hover {
    background-color: #B891B5;
    color: white;
}

@media (max-width: 1199px) {
    #sobre-mi{
        flex-direction: row;
        flex-basis: 50%;
        padding: 10px;
    }

    .col-sobremi {
        justify-content: center;
        flex-basis: 50%;
        margin-top: none;
    }
    .col-sobremi h2 {
        font-size: 25px;
    }
    .col-sobremi p{
        font-size: 16px;
    }

    .boton-conoceme {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    #sobre-mi {
        flex-direction: column;
        flex-basis: 100%;
        padding: 10px;
    }

    .col-sobremi {
        justify-content: center;
        flex-basis: 100%;
        margin-top: none;
    }

    .col-sobremi h2 {
        font-size: 20px;
    }
    .col-sobremi p{
        font-size: 14px;
    }
.boton-conoceme {
    font-size: 14px;
    }
}
/*servicios*/

#servicios {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px; 
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border: 0;
    margin: 0;
}

#servicios .col-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 100%;
    margin:20px;
}

.col-servicios h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.col-servicios p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.boton-ver-todos {
    align-self: self-start;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #B891B5;
    padding: 10px 20px;
    border-radius: 5px;
}

.boton-ver-todos:hover {
    background-color: #ffffff;
    color: #B891B5;
}

.foto-servicios {
    flex-grow: 1;
    width: 50%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding: 10px;
}

@media (max-width: 1199px) {
    #servicios {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 10px;
    }

    .col-servicios {
        flex-basis: 50%;
        margin-top: none;
    }

    .col-servicios h2{
        font-size: 25px;
    }

    .col-servicios p{
        font-size: 16px;
    }
    .boton-ver-todos {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    #servicios {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .col-servicios {
        flex-basis: 100%;
        margin-top: none;
    }
    .col-servicios h2{
        font-size: 20px;
    }

    .col-servicios p{
        font-size: 14px;
    }
    .boton-ver-todos {
        font-size: 14px;
    }
}


/*clientes*/

#titulo {
    text-align: left;
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: center;
    justify-content:left;
    padding: 20px;
    border: 0px;
    margin: 0px;
}

#titulo h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000000;
}

#clientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 25% 25% 25% 25%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #C9ACC7;
    padding: 20px;
    margin: 0; 
}

#clientes img {
    width: 100px;
    height: auto;
    margin: 10px;
}


#boton {
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: center;
    justify-content:left;
    padding:20px;
    border: 0px;
    margin: 0px;
}

.boton-conocer-todos {
    text-decoration: none;
    color: #B891B5;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.boton-conocer-todos:hover {
    background-color: #C9ACC7;
    color: #ffffff;
}


@media (max-width: 1199px) {
    #clientes {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #titulo h2{
        font-size: 25px;
    }
    .boton-conocer-todos {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    #clientes {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }
    #titulo h2{
        font-size: 20px;
    }
    .boton-conocer-todos {
        font-size: 14px;
    }
}


------------------------FOOTER-----------------------------------------
/* Footer*/

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 20px; 
    align-items: center; 
    background-color: #000000;
    padding: 20px;
    margin: 0;
    border: 0;
}

#pie {
    grid-column: 2; /* Establece esta secci贸n en la segunda columna */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 20px;
    margin: 0;
}


.cp-vertical {
    width: 100px;
    height: auto;
    margin: 10px;
}

#pie a {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: none;
   }
   
#pie a:hover {
    color: #B891B5;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.col3 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


.derechos {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 
    background-color: #000000;
    padding: 20px;
    margin: 0;
    color: #B891B5;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}



@media (max-width: 1199px) {
    #pie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        justify-content: space-evenly;
        margin-top: none;
    }
}

@media (max-width: 767px) {
    #pie {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 50%;
        margin-top: none;
    }
}



-----------------------------sobre-mi-html---------------------------------------------------
* {
    margin: 0;
    padding: 0;
}

.contenedor2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.portada-sobremi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
}

#sobremi {
    background-color:#B891B5;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
    padding-bottom: 0px;
    border: 0px;
    margin: 0px;
}

#sobremi .columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 100%;
    margin:20px;
}

.perfil {
    flex-grow: 1;
    width: 50%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding: 10px;
}

.columna h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.columna p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#continuaci贸n {
    background-color: #B891B5;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    align-items: center;
    justify-content: space-evenly;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 0px;
    border-top: 0px;
    margin: 0px;
}

.hobby p{
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#informacion {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Espacio entre elementos */
    align-items:  start;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 0px;
    margin: 50px;
}

.Aptitudes {
    align-self: start;
}

.Aptitudes h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Aptitudes ul {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    list-style-type: disc; /* Agrega puntos redondos */
    margin-left: 20px;
}

.Experiencia {
    align-self: start;
}

.Experiencia h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}  

.Experiencia ul{
    list-style-type: disc;/
    margin-left: 20px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#trabajo {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Espacio entre elementos */
    align-items:  start;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 0px;
    margin: 50px;
}

.trab-exp {
    align-self: start;
}

.trab-exp h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.trab-exp p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.proyectos {
    align-self: start;
}

.proyectos h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}  

.proyectos p{
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1199px) {
    #sobremi {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }

    #informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #continuaci贸n {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #trabajo {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    .columna h2 {
        font-size: 25px;
    }
    .columna p {
        font-size: 16px;
    }
    .hobby p {
        font-size: 16px;
    }

    .Aptitudes h2 {
        font-size: 25px;
    }
    .Aptitudes ul {
        font-size: 16px;
    }
    .Experiencia h2 {
        font-size: 25px;
    }
    .Experiencia ul {
        font-size: 16px;
    }
    .trab-exp h2 {
        font-size: 25px;
    }
    .trab-exp p {
        font-size: 16px;
    }
    .proyectos h2 {
        font-size: 25px;
    }
    .proyectos p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    #sobremi {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }
    #informacion {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #continuaci贸n {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }

    #trabajo {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    .columna h2{
        font-size: 20px;
    }
    .columna p{
        font-size: 14px;
    }
    .hobby p{
        font-size: 14px;
    }

    .Aptitudes h2 {
        font-size: 20px;
    }
    .Aptitudes ul {
        font-size: 14px;
    }
    .Experiencia h2 {
        font-size: 20px;
    }
    .Experiencia ul {
        font-size: 14px;
    }
    .trab-exp h2 {
        font-size: 20px;
    }
    .trab-exp p {
        font-size: 14px;
    }
    .proyectos h2 {
        font-size: 20px;
    }
    .proyectos p {
        font-size: 14px;
    }
}


-----------------------------servicios-html---------------------------------------------------
* {
    margin: 0;
    padding: 0;
}

.contenedor3 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.portada-servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
}

#servicios1 {
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: left;
    justify-content:left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#servicios1 h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 100px;
    color: #000000;
}

#servicios2 {
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: left;
    justify-content:left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#servicios2 .columna3 {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin:75px;
}

.cm {
    flex-grow: 1;
    width: 100%; 
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;

}

.columna3 h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: px;
    font-weight: bold;
    margin-bottom: 10px;
}

.columna3 p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


#servicios3 {
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: left;
    justify-content:left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#servicios3 .columna4 {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin:75px;

}

.smm {
    flex-grow: 1;
    width: 100%; 
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;

}

.columna4 h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: px;
    font-weight: bold;
    margin-bottom: 10px;
}

.columna4 p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


#servicios4 {
    background-color: #C9ACC7;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    align-items: left;
    justify-content:left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#servicios4 .columna5 {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin:75px;

}

.pmm {
    flex-grow: 1;
    width: 100%; 
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;

}

.columna5 h2 {
    flex-grow: 1;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: px;
    font-weight: bold;
    margin-bottom: 10px;
}

.columna5 p {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


@media (max-width: 1199px) {
    #servcios1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }

    #servicios2{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #servicios3{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #servicios4{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
}

@media (max-width: 767px) {
    #servicios1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }
    #servicios2 {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
    #servicios3 {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }

    #servicios4 {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        align-items: center;
        gap: 0px; 
    }
}